<div class="all">

    <div class="container header-area">
        <span>
            <img role="img" aria-hidden="true" src="https://lists.office.com/Images/9188040d-6c67-4c5b-b112-36a304b66dad/00000000-0000-0000-0003-4001c6243894/T4RG9VQVD7JIK8WBKHL6N9V5FI/1a529ffb-45b1-4346-990a-1d8537a2a2b8" height="45" width="45" class="visiable" style="left: 0px; top: 0px;">
            <h1 class="heading" >Feedback Form (Visit bit.ly/sfolyfb1 if you are unable to fill this form.)</h1>
        </span>    
        <p class="para" >A short feedback form to help us consistently deliver you the best and improve. <br>
            Compulsory to get certificates. Certificates will be sent via email in December. <br>
            Request you to please fill correct details only so that we can know where we are lagging.</p>
        </div>
        <app-form-component></app-form-component>
    </div>