<div class="container form-area">
  <p><span>* </span> Required</p>
    <div class="mb-3 p-2">
        <label for="exampleFormControlInput1" class="form-label">1. Name of participant<span> *</span></label>
        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Enter your answer">
      </div>
    <div class="mb-3 p-2">
        <label for="exampleFormControlInput1" class="form-label">2. Participated for?<span> *</span></label>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
            <label class="form-check-label" for="defaultCheck1">
              SIE
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="defaultCheck2">
            <label class="form-check-label" for="defaultCheck2">
              SIMO
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="defaultCheck3">
            <label class="form-check-label" for="defaultCheck3">
              SISO
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="defaultCheck4">
            <label class="form-check-label" for="defaultCheck4">
                Grads Olympiad
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="defaultCheck5">
            <label class="form-check-label" for="defaultCheck5">
                Finance Olympiad
            </label>
          </div>
      </div>
      <div class="mb-3 p-2">
        <label for="exampleFormControlInput1" class="form-label">3. How was the quality of the questions asked?<span> *</span></label>
        <div class="container">
          <span class="fa fa-star fa-2x mx-2"></span>
          <span class="fa fa-star fa-2x mx-2"></span>
          <span class="fa fa-star fa-2x mx-2"></span>
          <span class="fa fa-star fa-2x mx-2"></span>
          <span class="fa fa-star fa-2x mx-2"></span>
          <span class="fa fa-star fa-2x mx-2"></span>
          <span class="fa fa-star fa-2x mx-2"></span>
          <span class="fa fa-star fa-2x mx-2"></span>
          <span class="fa fa-star fa-2x mx-2"></span>
          <span class="fa fa-star fa-2x mx-2"></span>
        </div>

      </div>
      <div class="mb-3 p-2">
        <label for="exampleFormControlInput1" class="form-label">4. How was the ease of giving the Olympiad?<span> *</span></label>
        <div class="container">
          <span class="fa fa-star fa-2x mx-2"></span>
          <span class="fa fa-star fa-2x mx-2"></span>
          <span class="fa fa-star fa-2x mx-2"></span>
          <span class="fa fa-star fa-2x mx-2"></span>
          <span class="fa fa-star fa-2x mx-2"></span>
          <span class="fa fa-star fa-2x mx-2"></span>
          <span class="fa fa-star fa-2x mx-2"></span>
          <span class="fa fa-star fa-2x mx-2"></span>
          <span class="fa fa-star fa-2x mx-2"></span>
          <span class="fa fa-star fa-2x mx-2"></span>
        </div>
      </div>
      <div class="mb-3 p-2">
        <label for="exampleFormControlInput1" class="form-label">5. Did you like the process of report generation?<span> *</span></label>
        <div class="container">
          <span class="fa fa-star fa-2x mx-2"></span>
          <span class="fa fa-star fa-2x mx-2"></span>
          <span class="fa fa-star fa-2x mx-2"></span>
          <span class="fa fa-star fa-2x mx-2"></span>
          <span class="fa fa-star fa-2x mx-2"></span>
          <span class="fa fa-star fa-2x mx-2"></span>
          <span class="fa fa-star fa-2x mx-2"></span>
          <span class="fa fa-star fa-2x mx-2"></span>
          <span class="fa fa-star fa-2x mx-2"></span>
          <span class="fa fa-star fa-2x mx-2"></span>
        </div>
      </div>
      <div class="mb-3 p-2">
        <label for="exampleFormControlInput1" class="form-label">6. How was the customer service, if you used any?</label>
        <div class="container">
          <span class="fa fa-star fa-2x mx-2"></span>
          <span class="fa fa-star fa-2x mx-2"></span>
          <span class="fa fa-star fa-2x mx-2"></span>
          <span class="fa fa-star fa-2x mx-2"></span>
          <span class="fa fa-star fa-2x mx-2"></span>
          <span class="fa fa-star fa-2x mx-2"></span>
          <span class="fa fa-star fa-2x mx-2"></span>
          <span class="fa fa-star fa-2x mx-2"></span>
          <span class="fa fa-star fa-2x mx-2"></span>
          <span class="fa fa-star fa-2x mx-2"></span>
        </div>
      </div>
      <div class="mb-3 p-2">
        <label for="exampleFormControlInput1" class="form-label">7. Anything that we need to improve.<span> *</span></label>
        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Enter your answer">
      </div>
      <div class="mb-3 p-2">
        <label for="exampleFormControlInput1" class="form-label">8. What did you like the best about us?
          <span> *</span></label>
        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Enter your answer">
      </div>
      <div class="mb-3 p-2">
        <label for="exampleFormControlInput1" class="form-label">9. How likely are you to participate in our Olympiads in the future?<span> *</span></label>
        <div class="container">
          <span class="fa fa-star fa-2x mx-2"></span>
          <span class="fa fa-star fa-2x mx-2"></span>
          <span class="fa fa-star fa-2x mx-2"></span>
          <span class="fa fa-star fa-2x mx-2"></span>
          <span class="fa fa-star fa-2x mx-2"></span>
          <span class="fa fa-star fa-2x mx-2"></span>
          <span class="fa fa-star fa-2x mx-2"></span>
          <span class="fa fa-star fa-2x mx-2"></span>
          <span class="fa fa-star fa-2x mx-2"></span>
          <span class="fa fa-star fa-2x mx-2"></span>
        </div>
      </div>
      <div class="container p-4">
        <button class="btn btn-primary btn-lg">Submit</button>
      </div>

      <p>Never give out your password. <a href="">Report abuse</a></p>
    </div>
    <div class="container form-area-footer">
      <footer>
        <p>This content is created by the owner of the form. The data you submit will be sent to the form owner. Microsoft is not responsible for the privacy or security practices of its customers, including those of this form owner. Never give out your password.</p>

        <p class="footer-foot">Powered by Microsoft Forms | <a href=""> Privacy and cookies</a>| <a href="">Terms of use</a></p>
      </footer>
    </div>